/* Computer Style */

@media (min-width:851px) and (max-width:2000px)
{
  #background-image 
  {
    display:none;
  }


  /* Navigation Bar  */

  #navigation-bar
  {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:20%;
    /* margin: 0 auto; */
    background-color: #6b6b6b;
    opacity: .90;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
  }

  #navigation-bar h1
  {
    width: 30%;
  }

  #navigation-bar .logo
  {
    width: 100px;
    height: 100px;
    margin: 10px 0 5px 40px;
  }

  .dropdown-bar #menu
  {
    display: none;
  }
  
  #navigation-bar ul
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    /* margin-right: 20px; */
  }

   #navigation-bar ul li 
   {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
   }

   #navigation-bar ul li a 
   {
     font-size: 25pt;
     font-weight: bold;
     margin: 0 20px; 
   }
  
   .current
   {
     height: 70px;
   }

  /* End of Navigation Bar  */


  /* Home Page Content  */

  .page-content
  {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-content #username-form
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    width: 100%;
    padding-top: 20px;
  }

  .page-content #username-form #username-input
  {
    width: 40%;
    height: 30%;
    border-radius: .25in;
    border-color: #4bb2af;
    padding-left: 20px;
    font-size: 24pt;
  }

  .page-content #username-form .button-style
  {
    width: 30%;
    height: 24%;
    background: #4bb2af;
    border-radius: .25in;
    border-color: #f2d466;
    color: #f2d466;
    font-size: 20pt;
    margin-bottom: 15px;
  }

  .page-content #paragraph-1
  {
    font-size: 27pt;
    text-align: center;
    color: #ffffff;
    line-height: 1.6;
    width: 90%;
    height: 30%;
  }

  /* End of Home Page Content  */

  /* Description Page Content  */

  .description-content
  { 
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }

  .description-content p
  {
    background-color: #cfcdcd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;
    height:50%;

    line-height: 1.8;
    font-size: 20pt;

    padding: 0 10px;

    border-radius: .25in;
    border-color: #4bb2af;

    box-shadow: 8px rgba(0,0,0,0.2);

    overflow: auto;
  }

  /* End of Description Page Content  */

  /* Faq Page Content  */

  .faq-content
  { 
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }

  .faq-content ul 
  {
    width: 60%;
    height: 50%;
 
    background-color: #cfcdcd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    line-height: 1.2;
    font-size: 17pt;

    padding: 10px;

    border-radius: .25in;
    border-color: #4bb2af;

    box-shadow: 8px rgba(0,0,0,0.2);

    overflow: auto;
  }

  .faq-content ul li 
  {
    list-style: none;
   
  }

  .faq-content #questions 
  {
    font-weight: bold;
  }

  .faq-content #answers 
  {
    font-style: italic;
  }

  /* End of Faq Page Content  */

  /* Suggestions Page Content  */

  .suggestions-content
  { 
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }

  .suggestions-content #suggestions-form
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  .suggestions-content #suggestions-form #fname-input
  {
    width: 40%;
    height: 10%;
    border-radius: .25in;
    border-color: #4bb2af;
    padding-left: 20px;
    font-size: 22pt;
  }

  .suggestions-content #suggestions-form #lname-input
  {
    width: 40%;
    height: 10%;
    border-radius: .25in;
    border-color: #4bb2af;
    padding-left: 20px;
    font-size: 22pt;
  }

  .suggestions-content #suggestions-form #suggestion-input
  {
    width: 60%;
    height: 40%;
    border-radius: .25in;
    border-color: #4bb2af;
    padding-left: 20px;
    font-size: 22pt;
  }

  .suggestions-content #suggestions-form .button-style
  {
    width: 60%;
    height: 14%;
    background: #4bb2af;
    border-radius: .25in;
    border-color: #f2d466;
    color: #f2d466;
    font-size: 20pt;
    margin-bottom: 15px;
  }

  /* End of Suggestion Page Content  */


  /* Results Page Content  */

  .final-result
  {
    background-color: #4995fa;
  }

  #result-title
  {
    height: 10%;
    font-size: 24pt;
    font-weight: bold;
    color: #ffffff;
    margin-top: 15px;
  }

 #left, #right
  {    
    width: 100px;
    height: 60px;
    border-color: #000000;
    border-style: solid;
    border-radius: .15in;
  }

  #center
  {
    width: 100px;
    height: 60px;
    margin: 0 40px;
    border-color: #000000;
    border-style: solid;
    border-radius: .15in;
  }

  .result-content
  {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .result-ideology
  {
    height: 12%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }

  .user-photo
  {
    height: 50%;
    margin: 5px 0;
  }

  #username-photo
  {
    width: 200px;
    height: 200px;
    /* border-color: #000000; */
    /* border-style: solid; */
    /* border-radius: .25in; */

    padding: 15px 0;
    
    /* margin-top: 20px; */
  }

  .profile-photo
  {
    width: 200px;      
    height: 200px;     
  }


  .user-username
  {
    height: 20%;
    margin-top: 5px;
  }

  #username
  {
    width: 300px;
    height: 70px;
    border-color: #000000;
    border-style: solid;
    border-radius: .25in;

    padding: 15px 0;
    
    /* margin-top: 20px; */
  }

  #check-another
  {
    height: 10%;
    margin-top: 15px;
  }

  #check-another a
  {
    color: blue;
    font-size: 22px;
  }

  #ideology-title
  {
    margin: 20px;
    height: 5%;
    font-size: 20pt;
    font-weight: bold;
    color: #ffffff;
  }

  .result-words
  {
    height: 10%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }

  .result-words p
  {
    font-size: 22pt;
  }

  #left-word
  {
    margin: 0 40px; 
   
  }

  #center-word
  {
    margin: 0 40px; 

  }

  #right-word
  {
    margin: 0 40px; 
  }

  /* End of Results Page Content  */

 .page-content #no-userp
  {
    font-size: 27pt;
    text-align: center;
    color: #000000;
    line-height: 1.6;
    width: 90%;
    height: 30%;
  }

   .page-content a
  {
    font-size: 27pt;
    text-align: center;
    color: #0000ff;
    line-height: 1.6;
    width: 90%;
    height: 30%;
  }


}

