<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel = "icon" href = "./static/Logos/ContentCat-Logo-(web)-R2.png" type = "image/x-icon"> -->

  <link rel = "icon" href = "./static/Logos/ContentCat-Logo-(web)-R2.png" type = "image/x-icon">

  <!-- <link rel="stylesheet" href="./static/CSS/main_style.css">
  <link rel="stylesheet" href="./static/CSS/computer.css">
  <link rel="stylesheet" href="./static/CSS/tablet.css">
  <link rel="stylesheet" href="./static/CSS/mobile.css">
  <link rel="stylesheet" href="./static/CSS/no_size.css"> -->


  <link rel="stylesheet" href="./static/CSS/main_style.css">
  <link rel="stylesheet" href="./static/CSS/computer.css">
  <link rel="stylesheet" href="./static/CSS/tablet.css">
  <link rel="stylesheet" href="./static/CSS/mobile.css">
  <link rel="stylesheet" href="./static/CSS/no_size.css">
 
  <title>ContentCat: What's your ideology</title>
</head>
<body>  
  <header>
    <div id="navigation-bar">     
      <div id="logo">
        <h1 class="logo"><a href="./"><!--ContentCat--></a></h1>
      </div> 

        <div class="dropdown-bar">
          <span id="menu">Menu</span>              
          <ul class='dropdown-content'>
            <li class="current"><a href="./">Home</a></li>
            <li><a href="description">Description</a></li>
            <li><a href="faq">Faq</a></li>
          </ul>     
        </div> 
        <!-- End of drop-bar bar -->

    </div>  

<head>
<style>

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: yellow;
}
</style>
</head>

<div class="page-content">
      
	    <p id="no-userp"> The Username could not be found, please try Again </p>  
	    <br> <br> 
	    <a href="/" id="clickhere">by clicking here</a> 
    </div>

     <div id="background-image">    
       <div id="background-logo"></div> <br>
      <p id="screen-requirements-1">Requires a bigger screen</p>
      <p id="screen-requirements-2">Requires a smaller screen</p>
     </div>

  </header>
  
</body>
</html>
